## Copy and modify this file to .env before running the server
## or the test suite
##
## Config to talk to the test DB from developer's workstation
##
## Requires an ssh tunnel which can be done using the following snippet
## in ~/.ssh/config:
##
##   Host dsps03 dsps03.epfl.ch
##        Hostname dsps03.epfl.ch
##        User dsps
##        ForwardAgent yes
##        # LHD test DB (MySQL) :
##        LocalForward 0.0.0.0:33006 db-scx-test.epfl.ch:3306
##        # ISIDOR prod DB (PostgreSQL) :
##        LocalForward 0.0.0.0:5432 dsps04.epfl.ch:5432
## Uncomment below to connect to the test LHD database (via ssh tunnel)
# LHD_DB_URL=mysql://lhd_test_app:THEPASSWORDISINKEYBASE@localhost:33006/lhd_test
## If you want to `npx prisma create` against same test LHD database, you will need to
##      export LHD_DB_URL=mysql://lhd_test_adm:THEPASSWORDISINKEYBASE@localhost:33006/lhd_test
## THEPASSWORDISINKEYBASE needs to be replaced from the proper password, found in /keybase/team/epfl_lhd/secrets_test.yml
## Uncomment below to connect to the development LHD database.
## TODO: it is currently managed by LHD v2's dev kit (`docker compose up -d db; sleep 40; make restore`).
## We should migrate that logic into the `just` script.
LHD_DB_URL=mysql://root:ROOT@localhost:3307/lhd_test
## (and likewise, export above line in your shell for `npx prisma create`)
ALLOWED_GROUPS=lhd_acces_lecture_AppGrpU,LHD_acces_admin_AppGrpU,LHD_acces_cosec_AppGrpU
ADMIN_GROUP=LHD_acces_admin_AppGrpU
LHD_GROUP=LHD_acces_lecture_AppGrpU
COSEC_GROUP=LHD_acces_cosec_AppGrpU
## Note: “tototutu” above, is not the real password. Look for it in
## /keybase/team/epfl_lhd/secrets_test.yml
LHD_API_PASSWORD=XXXXX found in /keybase/team/epfl_lhd/secrets_test.yml
LHD_ENCRYPTION_KEY=LHD_ENCRYPTION_KEY :: TEST

API_EPFL_CH_URL=api-preprod.epfl.ch

HAZARD_DOCUMENT_FOLDER=/LHD_documents/upload/hazards/

OIDC_BASE_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/v2.0/
OIDC_KEYS_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/discovery/v2.0/keys
OIDC_CLIENT_ID=2c822adc-1365-4b59-931f-64cde59e7d20