## Copy and modify this file to .env before running the server
## or the test suite
##
## Config to talk to the test DB from developer's workstation
##
## Uncomment below to connect to the test LHD database (via ssh tunnel)
# LHD_DB_URL=mysql://lhd_test_app:THEPASSWORDISINKEYBASE@localhost:33006/lhd_test
## If you want to `npx prisma create` against same test LHD database, you will need to
##      export LHD_DB_URL=mysql://lhd_test_adm:THEPASSWORDISINKEYBASE@localhost:33006/lhd_test
## THEPASSWORDISINKEYBASE needs to be replaced from the proper password, found in /keybase/team/epfl_lhd/secrets_test.yml
## Uncomment below to connect to the development LHD database.
## TODO: it is currently managed by LHD v2's dev kit (`docker compose up -d db; sleep 40; make restore`).
## We should migrate that logic into the `just` script.

# LHD_DB_URL=mysql://root:ROOT@localhost:3307/lhd_test
LHD_DB_URL=postgresql://root:ROOT@localhost:45432/lhd?schema=public
LHD_API_PASSWORD=${lhdImapPassword}
LHD_ENCRYPTION_KEY=${lhdEncryptionKey}
ALLOWED_GROUPS=svc1172lhd_Admin_AppGrpU,svc1172lhd_Cosec_AppGrpU,svc1172lhd_Standard_AppGrpU
API_EPFL_CH_URL=api.epfl.ch
CRISTAL_URL=cristal-test.epfl.ch
HAZARD_DOCUMENT_FOLDER=hazards/
DISPENSATION_DOCUMENT_FOLDER=dispensations
ASSESSMENT_DECISION_DOCUMENT_FOLDER=assessment_decision
AUTHORIZATION_DOCUMENT_FOLDER=authorizations
DOCUMENTS_PATH=../LHD_documents/upload
OIDC_BASE_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/v2.0
OIDC_CLIENT_ID=2c822adc-1365-4b59-931f-64cde59e7d20
SNOW_TOKEN=DEV_SNOW
CATALYSE_TOKEN=DEV_CATALYSE
AXS_TOKEN=DEV_AXS
CRONJOBS_EMAIL=YOUR_EMAIL@epfl.ch
AXS_ALLOWED_IPS=127.0.0.1,::1
AXP_BIO_SIGNATURES_GROUP=LHD_dangers_bio
SMTP_HOST=mail.epfl.ch
SMTP_PORT=587
SMTP_USER=lhd@epfl.ch
CAE_TO=${mail_cae_to}
CAE_CC=${mail_cae_cc}
COSEC_BCC=${mail_cosec_bcc}
DISPENSATION_CC=LHD-notification-dispensation@groupes.epfl.ch
APP_BASE_PATH=http://localhost:3000
HAZARD_TYPES_TO_EMAIL_AFTER_UPDATE=Laser,Biological
ENVIRONMENT=DEV
CATALYSE_EMAIL=service_catalyse@epfl.ch
LIL_URL=https://lil-test.epfl.ch/
ADMIN_GROUP=svc1172lhd_Admin_AppGrpU
COSEC_GROUP=svc1172lhd_Cosec_AppGrpU
LHD_GROUP=svc1172lhd_Standard_AppGrpU
NODE_ENV=test
